* {
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: url("https://images.unsplash.com/photo-1573763688302-374349a7f3bb");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 30px 40px;
}

h1 {
  font-size: 30px;
  text-align: center;
  color: #fff;
  padding: 25px;
}

.btn {
  display: flexbox;
  margin: 10px;
  padding: 10px 10px;
  background-color: #00c2cb;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #009aa2;
}