* {
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: url("https://images.unsplash.com/photo-1573763688302-374349a7f3bb");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 30px 40px;
}

h1 {
    font-size: 36px;
    text-align: center;
    color: #fff;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

button {
    width: 100%;
    height: 50px;
    background-color: #00cdf1c5;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    margin-top: 24px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

button:hover {
    background-color: #0095a0;
}